# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Angular
.angular/
dist/
coverage/

# Environment files
.env
.env.*

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Cache
.cache/
.tmp/

# Custom tools
.gemini/
