<section class="auth-page login-page">
    <div class="shape-bg">
        <img src="/images/shape.png" alt="Background Shape" class="img-fluid w-100 h-100">
    </div>

    <!-- Le conteneur prend toute la hauteur (vh-100) et gère le débordement -->
    <div class="container-fluid p-5 h-100">
    
        <!-- Une ligne qui prend toute la hauteur -->
        <div class="row  h-100 align-items-center">

            <div class="col-lg-8 position-relative">
                <div class="column-wrap justify-content-between">
                    <!-- === COLONNE 2 : FUSÉE  - Cachée sur mobile === -->
                    <div class="rocket-container animate-left" style="animation-delay: 0.2s">
                        <img src="/images/rocket.png" alt="Rocket" class="rocket-img img-fluid">
                    </div>

                    <h1 class="brand-logo fw-bold mb-4 animate-left" style="animation-delay: 0.1s">{{ appConfig.title }}</h1>

                    <h2 class="hero-text animate-left" style="animation-delay: 0.3s">
                        {{ loginConfig.subtitle1 }} <br />
                        {{ loginConfig.subtitle2 }}
                    </h2>
                        
                    <p class="lead text-muted mb-5 animate-left" style="animation-delay: 0.5s">
                        Pas de compte ? <br/>
                        <a routerLink="/auth/register" class="text-decoration-none fw-bold">Inscrivez-vous !</a>
                    </p>

                    <!-- QR Code -->
                    <div class="d-flex align-items-center animate-left" style="animation-delay: 0.7s">
                        <img src="/images/qr-code.png" alt="QR" width="250" class="gap-3 bg-white bg-opacity-50 p-4 rounded-1 border">
                    </div>

                </div>
            </div>

            

            <!-- === COLONNE 2 : FORMULAIRE (4/12) === -->
            <div class="col-lg-4">
                <div class="column-wrap justify-content-center">
                    <form [formGroup]="loginForm" (ngSubmit)="login()" #authForm>

                    <!-- Email -->
                    <div class="form-group">
                        <input type="email" class="form-control" autocomplete="username"
                            formControlName="email"
                            name="email" placeholder="Email ou Mobile" required>
                    </div>

                    <!-- Password -->
                    <div class="form-group position-relative">
                        <input 
                            [type]="showPassword() ? 'text' : 'password'"
                            autocomplete="new-password"
                            class="form-control"
                            formControlName="password"
                            name="password"
                            placeholder="********"
                            required>

                        <button 
                            type="button" class="btn border-0 position-absolute end-0 top-50 translate-middle-y text-muted" 
                            (click)="togglePassword()"
                            [attr.aria-label]="showPassword() ? 'Masquer le mot de passe' : 'Afficher le mot de passe'"
                        >
                            @if (showPassword()) {
                                <fa-icon [icon]="faEyeSlash"></fa-icon>
                            } @else {
                                <fa-icon [icon]="faEye"></fa-icon>
                            }
                        </button>
                    </div>

                    <div class="d-flex form-link mb-3">
                        <a routerLink="/auth/forgot-password" >Mot de passe oublié ?</a>
                    </div>

                    <!-- Alert Erreur -->
                    @if (errorMessage()) {
                        <div class="alert alert-danger py-2 text-center small">
                            {{ errorMessage() }}
                        </div>
                    }

                    <!-- Bouton Submit -->
                    <button type="submit" class="btn-submit" [disabled]="loginForm.invalid || loading()">
                        @if (loading()) { <span class="spinner-border spinner-border-sm"></span> } 
                        @else { {{ loginConfig.button.text }} }
                    </button>

                        

                    </form>
                    <div class="style-line text-center text-muted small mb-3">
                            <span> Ou continuer avec</span>
                    </div>

                    <div class="d-flex gap-2 socialIcons">
                        <button type="button" class="btn"><fa-icon [icon]="faGoogle" class="icon googleIcon"></fa-icon></button>
                        <button type="button" class="btn"><fa-icon [icon]="faApple" class="icon appleIcon"></fa-icon></button>
                        <button type="button" class="btn"><fa-icon [icon]="faFacebook" class="icon facebookIcon"></fa-icon></button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>