<section class="auth-page forgot-password-page">
    <div class="shape-bg">
        <img src="/images/shape.png" alt="Background Shape" class="img-fluid w-100 h-100">
    </div>

    <!-- Le conteneur prend toute la hauteur (vh-100) et gère le débordement -->
    <div class="container-fluid p-5 h-100">
    
        <!-- Une ligne qui prend toute la hauteur -->
        <div class="row  h-100 align-items-center">

            <div class="col-lg-8 position-relative">
                <div class="column-wrap justify-content-between">
                    <!-- === COLONNE 2 : FUSÉE  - Cachée sur mobile === -->
                    <div class="rocket-container animate-left" style="animation-delay: 0.2s">
                        <img src="/images/rocket.png" alt="Rocket" class="rocket-img img-fluid">
                    </div>

                    <h1 class="brand-logo fw-bold mb-4 animate-left" style="animation-delay: 0.1s">{{ appConfig.title }}</h1>

                    <h2 class="hero-text animate-left" style="animation-delay: 0.3s">
                        {{ resetPasswordConfig.subtitle1 }} <br />
                        {{ resetPasswordConfig.subtitle2 }}
                    </h2>
                        
                    <p class="lead text-muted mb-5 animate-left" style="animation-delay: 0.5s">
                        {{ resetPasswordConfig.description }} <br/>
                        {{ resetPasswordConfig.description2 }}
                    </p>

                    <!-- QR Code -->
                    <div class="d-flex align-items-center animate-left" style="animation-delay: 0.7s">
                        <img src="/images/qr-code.png" alt="QR" width="250" class="gap-3 bg-white bg-opacity-50 p-4 rounded-1 border">
                    </div>

                </div>
            </div>

            

            <!-- === COLONNE 2 : FORMULAIRE (4/12) === -->
            <div class="col-lg-4">
                <div class="column-wrap justify-content-center">
                    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" #authForm>

                        <!-- Nouveau mot de passe -->
                        <div class="form-group position-relative">
                            <input type="password"
                                [type]="showPassword() ? 'text' : 'password'"
                                class="form-control"
                                autocomplete="new-password"
                                formControlName="password"
                                placeholder="Nouveau mot de passe"
                                required>
                        
                            <button type="button" 
                                class="btn border-0 position-absolute end-0 top-50 translate-middle-y text-muted" 
                                (click)="togglePassword()"
                                [attr.aria-label]="showPassword() ? 'Masquer le mot de passe' : 'Afficher le mot de passe'">
                                @if (showPassword()) { <fa-icon [icon]="faEyeSlash"></fa-icon>}
                                @else { <fa-icon [icon]="faEye"></fa-icon> }
                            </button>
                        </div>
                        <!-- Confirmation -->
                        <div class="form-group position-relative">
                            <input type="password"
                                [type]="showConfirmPassword() ? 'text' : 'password'"
                                class="form-control"
                                autocomplete="new-password"
                                formControlName="confirmPassword"
                                placeholder="Confirmer le mot de passe"
                                required>
                        
                            <button type="button"
                                class="btn border-0 position-absolute end-0 top-50 translate-middle-y text-muted" 
                                (click)="toggleConfirmPassword()"
                                [attr.aria-label]="showConfirmPassword() ? 'Masquer' : 'Afficher'">
                                    @if (showConfirmPassword()) { <fa-icon [icon]="faEyeSlash"></fa-icon>} 
                                    @else { <fa-icon [icon]="faEye"></fa-icon> }
                            </button>
                        </div>
                        @if (resetPasswordForm.hasError('mismatch') && (confirmPasswordControl.touched || confirmPasswordControl.dirty)) {
                            <div class="text-danger small mt-2">
                                {{ resetPasswordConfig.validation.errors.passwordsMismatch }}
                            </div>
                        }
                        <!-- Alert Erreur -->
                        @if(errorMessage()) {
                            <div class="alert alert-danger py-2 text-center small">
                                {{ errorMessage() }}
                            </div>
                        }
                        @if (successMessage()) {
                            <div class="alert alert-success py-2 text-center small">
                                {{ successMessage() }}
                            </div>
                        }

                        <!-- Bouton Submit -->
                        <button type="submit" class="btn-submit" [disabled]="resetPasswordForm.invalid || loading()">
                            @if (loading()) { <span class="spinner-border spinner-border-sm"></span> } 
                            @else { {{ resetPasswordConfig.button.text }} }
                        </button>

                            
                        <div class="d-flex form-link mb-3 text-center justify-content-center">
                            <a routerLink="/auth/login">Retour à la connexion</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>