:host {
    display: block;
}
*:focus-visible { outline: 2px solid var(--c-primary); outline-offset: 2px; }



/* Quand topbar-top cachée, la navbar monte */
body.topbar-hidden .topbar-nav { top: 0 !important; }
