<div class="dashboard">
    <!-- Sidebar -->
    <aside class="sidebar">
        <div class="logo">🚀 AuthModule</div>
        
        
        <a routerLink="/home" class="nav-link active">
            <span class="nav-icon"><fa-icon [icon]="faGrip"></fa-icon></span>
            <span>Dashboard</span>
        </a>

        <div class="logout-btn">
            <button (click)="logout()" class="btn"><fa-icon [icon]="faDoorOpen"></fa-icon> Déconnexion</button>
        </div>
    </aside>

        <!-- Main Content -->
    <main class="main-content">
        @if (loading()) { <p>Chargement...</p> }
        @if (errorMessage()) { <div class="alert alert-danger">{{ errorMessage() }}</div>}
        <!-- Header -->
        @if (me()) {
            <div class="header-section">
                
                <div class="greeting">
                    <h1>Bienvenue, {{ me()!.firstName }} {{ me()!.lastName }} ! 👋</h1>
                </div>
                <div class="header-actions">
                    <div class="status-badge">
                        <span class="status-dot"></span> Connecté
                    </div>
                    <div class="profile-icon" title="Profil">AM</div>
                </div>
                
            </div>

            <!-- Welcome Card -->
            <div class="welcome-card">
                <div class="welcome-content">
                <h2>🎉 Authentification réussie !</h2>
                <p>Votre adresse email: {{ me()!.email }}</p>
                </div>
            </div>
        }
    </main>
</div>