<section class="auth-page forgot-password-page">
    <div class="shape-bg">
        <img src="/images/shape.png" alt="Background Shape" class="img-fluid w-100 h-100">
    </div>

    <!-- Le conteneur prend toute la hauteur (vh-100) et gère le débordement -->
    <div class="container-fluid p-5 h-100">
    
        <!-- Une ligne qui prend toute la hauteur -->
        <div class="row  h-100 align-items-center">

            <div class="col-lg-8 position-relative">
                <div class="column-wrap justify-content-between">
                    <!-- === COLONNE 2 : FUSÉE  - Cachée sur mobile === -->
                    <div class="rocket-container animate-left" style="animation-delay: 0.2s">
                        <img src="/images/rocket.png" alt="Rocket" class="rocket-img img-fluid">
                    </div>

                    <h1 class="brand-logo fw-bold mb-4 animate-left" style="animation-delay: 0.1s">{{ appConfig.title }}</h1>

                    <h2 class="hero-text animate-left" style="animation-delay: 0.3s">
                        {{ forgotPasswordConfig.subtitle1 }} <br />
                        {{ forgotPasswordConfig.subtitle2 }}
                    </h2>
                        
                    <p class="lead text-muted mb-5 animate-left" style="animation-delay: 0.5s">
                        {{ forgotPasswordConfig.description }} <br/>
                        {{ forgotPasswordConfig.description2 }}
                    </p>

                    <!-- QR Code -->
                    <div class="d-flex align-items-center animate-left" style="animation-delay: 0.7s">
                        <img src="/images/qr-code.png" alt="QR" width="250" class="gap-3 bg-white bg-opacity-50 p-4 rounded-1 border">
                    </div>

                </div>
            </div>

            

            <!-- === COLONNE 2 : FORMULAIRE (4/12) === -->
            <div class="col-lg-4">
                <div class="column-wrap justify-content-center">
                    <!-- Alert Erreur -->
                    @if(successMessage()) {
                        <div class="alert alert-success py-2 text-center small">
                            {{ successMessage() }}
                        </div>
                    }
                    @else {
                        <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()" #authForm>
                            <!-- Email -->
                            <div class="form-group">
                                <input type="email" class="form-control" autocomplete="email"
                                    formControlName="email"
                                    name="email" placeholder="Email ou Mobile" required>
                            </div>
                            @if (emailControl.invalid && (emailControl.touched || emailControl.dirty)) {
                                <div class="text-danger small mt-2">
                                    @if (emailControl.hasError('required')) { {{ forgotPasswordConfig.validation.errors.emailRequired }} }
                                    @if (emailControl.hasError('email')) { {{ forgotPasswordConfig.validation.errors.invalidEmail }} }
                                </div>
                            }
                            <!-- Alert Erreur -->
                            @if(errorMessage()) {
                                <div class="alert alert-danger py-2 text-center small">
                                    {{ errorMessage() }}
                                </div>
                            }
                            
                            <!-- Bouton Submit -->
                            <button type="submit" class="btn-submit" [disabled]="forgotPasswordForm.invalid || loading()">
                                @if (loading()) { <span class="spinner-border spinner-border-sm"></span> } 
                                @else { {{ forgotPasswordConfig.button.text }} }
                            </button>
                        </form>
                    }
                    <div class="d-flex form-link mb-3 text-center justify-content-center">
                        <a routerLink="/login" >Retour à la connexion</a>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
</section>